### Section 1:
##### Instructions
    Attempt all questions of this section
    Answers to be written in the cell after the cell with the question (marked with #ANSWER comment)
    Do not edit any cell marked with # DO NOT EDIT comment at the start
    No any other tab is open except the jupyter.
    Screen size should be full.

## All The Best

#### Q1. Counting the number of odd and even items in a list

    Steps:
    1. Iterate throught the list of numbers given in lon
    2. If the number is odd then increase the value of count_even by one, else increase the value of
       count_odd by one

In [ ]:
# DO NOT EDIT

lon = [6,26,46,71,0,2,5,6,61,3,2,5,6,7,2,6,7,3,7,9,6,7,2,6,2]

In [ ]:
# ANSWER

In [ ]:
# DO NOT EDIT

#### Q2. Editing items in a list

    Steps:
    1. Iterate throught the list of numbers given in lon
    2. If the number is even then increase the value of the next element in the list by one
    3. If the number if odd then don't do anything.

    Example
    The first element in the list is 6, so we have to increase the next element i.e 26 by 1.
    The second element should be changed to 26 + 1 = 27.
    In the second iteration the number is 27 (as it is changed now) so no change to be done in the
    list
    Continue with the remaining numbers in the list.

In [ ]:
# ANSWER

In [ ]:
# DO NOT EDIT


lon = [6,26,46,71,0,2,5,6,61,3,2,5,6,7,2,6,7,3,7,9,6,7,2,6,2]

#### Q3.  Writing a function to calculate the distance between two points

    Consider two points on the x-y plane [x0, y0] and [x1, y1]
    The distance between two points is given by the euclidean distance

\begin{align*}
distance &= \sqrt{(x1 - x0)^2\! +(y1 - y0)^2\!}
\end{align*}

    Steps:
    1. Edit the function distance written in the next cell
    2. a and b are two lists with x and y coordinates
    3. Example a = [1,1] and b = [2.5,0]
    4. Store the calculated distance in the variable distance

In [ ]:
# ANSWER

In [ ]:
# DO NOT EDIT

#### Q4 Finding the nearest point to [0,0]

    Steps:
    from the ten points (x,y cordinates are considered as one point), calculate the distances
    for each point from [0, 0]. Print the the points nearest to [0,0]

In [ ]:
# DO NOT EDIT
# DO NOT EDIT

points = [[0.26124953, 0.65709475],
          [0.13592751, 0.57147712],
          [0.3289748 , 0.12776297],
          [0.80833177, 0.67241004],
          [0.99802025, 0.94917782],
          [0.74073727, 0.18226178],
          [0.38854961, 0.81627411],
          [0.60282049, 0.04726195],
          [0.07190173, 0.6739353 ],
          [0.05232909, 0.78875172]]

In [ ]:
#ANSWER

### Section 2 - Pandas:

    Attempt all questions of this section
    Answers to be written in the cell after the cell with the question (marked with #answer comment)
    Do not edit any cell marked with # DO NOT EDIT comment at the start

#### Q1 . Creating a pandas dataframe from dictionary

    Convert the dictionary data into a pandas dataframe df

In [ ]:
# DO NOT EDIT
data = {'class_name': ['A', 'B', 'C', 'A', 'A', 'C', 'B', 'C', 'A', 'B']*3,
        'student_id': [i for i in range(1,31)],
        'marks': [100*np.random.rand() for i in range(1, 31)]}

In [ ]:
# ANSWER

#### Q2. Filter all rows in dataframe df where class_name = 'A'

In [ ]:
# ANSWER

#### Q3. Filter all rows in the dataframe df where class_name = 'B' and marks is greater than 50

In [ ]:
# ANSWER

#### Q4. Which student got the highest marks amongst all the students

In [ ]:
# ANSWER

#### Q5. Find the highest scoring student in each class

In [ ]:
# ANSWER

#### Q6. Print the index of rows where marks is less than 30

In [ ]:
# ANSWER

#### Q7. Create a new column named "marks_squared" It should have all the marks squared

In [ ]:
# ANSWER

#### Q8. Create a new column named "passed". If marks is above 40 the keep the value as True else False

In [ ]:
# ANSWER

#### Q9. Create a new column named "passed_int". If passed=True then value is 1 else 0

In [ ]:
# ANSWER

#### Q10. Calculate the average marks for each class. Store this in a DataFrame named 'clas_avg'

In [ ]:
# ANSWER

#### Q11. Rename the column containing average marks as  'avg_marks'

In [ ]:
# ANSWER

#### Q12. Join/Merge the two dataframes 'df' and 'clas_avg' on the common column 'class_name'. The resulting dataframe should be stored in a new dataframe called 'result'

#### Q13. Create a new column 'diff_from_mean' in the dataframe 'result' . This column should store the difference of the students marks from the average class marks in 'avg_marks'.

In [ ]:
# ANSWER

#### Q14. Which class has the most number of students with marks greater than 55.

In [ ]:

# ANSWER

#### Q15. Export the results DataFrame to a csv file. Name the csv file as 'python_1.csv'. Do not save indexes in the csv.

### Thank You.