# Pokemon

### Introduction:

This time you will create the data.



### Step 1. Import the necessary libraries (pandas, numpy etc)

### Step 2. Run the below line of code to create a dictionary

In [20]:
raw_data = {"name": ['Bulbasaur', 'Charmander','Squirtle','Caterpie'],
            "evolution": ['Ivysaur','Charmeleon','Wartortle','Metapod'],
            "type": ['grass', 'fire', 'water', 'bug'],
            "hp": [45, 39, 44, 45],
            "pokedex": ['yes', 'no','yes','no']                        
            }

### Step 3. Assign it to a variable called pokemon and it should be a pandas DataFrame.

### Step 4. change the order of the columns arrange it ascending order & their values to

### Step 5. Add another column called place, and insert places (lakes, parks, hills etc) of your choice.

### Step 6. Display the data type of each column